
{% if  list_items|length == 0 %} 
 <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-body">
             <h6 > {{message_empty}} </h6>
            </div>
        </div>
</div>
{% endif %}