<div class="row">
{% if  restaurant.media|length > 0 %}
         {% for media in restaurant.media %}
 <div class="col-lg-3" >
         <div class="card mb-3" >
                <img style="width: 100%;height:20vw;object-fit: contain;" src="{{ asset('/upload/media/'~(media.filename )) }}"  />
         </div>
 </div>  
        {% endfor %}
{% else %}
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
{% endif %}
 </div>  