<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link  rel="stylesheet" href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css">
        <link  rel="stylesheet" href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.css">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>

    <body>

    {{ include('_navbar.html.twig') }}   

<div class="row" style="padding : 40px;">

    {{ include('_flashbag.html.twig') }}


        <div class="page-header">
          <div class="row">
            <div class="col-lg-12">
              <h1> {% block content_title %}{% endblock %} </h1>
            </div>
        {% block body %}
        

        {% endblock %}
          </div>
        </div>


    </body>
        
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 
        {% block javascripts %}
            
        {% endblock %}

</html>
